/*.myclass{
    color: red;
}
#myid
{
    color: green;
}
h1{
    color: blue !important;
}
#myownid{
    color:green;
}
.myownclass{
    color: blue;
} */
/* relative units in css */
/*aside{
    background-color: aquamarine;
    width: 30vw;
    height: 50vh;
}*/
/*.parent{
    height: 700px;
    width : 700px;
    background-color: blue;
    font-size: 20px;
}
.child{
    height: 70%;
    width: 70%;
    background-color: aqua;
    font-size: 5em;
}
.parent,
.child{
    color: white;
}


html{
    /*font-size:40px*/

/*}
h2{
    color: red;
    font-size: 2rem;
}*/
html,
body{
    height: 100%;
    width: 100%;
    background-color: crimson;
}
div{
    min-height: 50px;
    background-color: blueviolet;
    max-width: 100px;
}

/* CSS specificity:
1)Inline
2)ID
3)Class
4)Universal