*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100px;
    width: 100;
}
.box{
    height: 200px;
    width: 200px;
    background-color: yellow;
    margin-left: 30px;
    border: 2px solid red;
    outline: 4px solid blue;
    border-radius: 10px;
    outline-offset: 10px;
}
.box1{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
    border: 2px solid black;
    margin: 30px 30px;
    box-shadow: 5px 5px 5px 10px gray;
}
p{
    text-shadow: 4px 4px 4px palevioletred;
}
.box2{
    height: 100px;
    width: 100px;
    background-color: blue;
    border: 3px solid red;
    box-sizing: border-box;
    border-radius: 50%;
}