*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,
body{
    color: black;
    background-color: aqua;
}
ul{
    margin: 40px;
    list-style-type: circle;
    border:2px solid red;
    list-style-position: inside;

}
li{
    display: inline-block;
    padding: 2px;
}