*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
@media screen and (min-width: 576px) and (max-width: 768px) {
    body {
        background-color: red;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-color: rgb(255, 0, 140);
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-color: rgb(81, 255, 0);
    }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
    body {
        background-color: teal;
    }
}
@media screen and (min-width: 1400px) {
    body {
        background-color: rgb(246, 255, 0);
    }
}