*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
    
}
.circle{
    height: 550px;
    width: 550px;
    border: 2px solid black;
    border-radius: 90%;
    background-color: rgba(239, 239, 11, 0.882);
    border-radius: 50%;
    margin-left: 10px;
    box-shadow:  0px 0px 50px black;
 
}
.circle1{
    height: 150px;
    width: 100px;
    border: 2px solid rgb(34, 17, 17);
    
    margin-top: 150px;
    margin-left: 110px;
    background-color: black;
    border-radius: 100%;
  
}
.circle1-sub {
    height: 100px;
    width: 50px;
    border: 2px solid rgb(34, 17, 17);
    margin-top: 48px ;
    margin-left: 24px;
    background-color: rgb(253, 250, 250);
    border-radius: 100%;
}

.circle2-sub {
    height: 100px;
    width: 50px;
    border: 2px solid rgb(34, 17, 17);
    margin-top: 48px ;
    margin-left: 24px;
    background-color: rgb(253, 250, 250);
    border-radius: 100%;
}
.circle2{
    height: 150px;
    width: 100px;
    border: 2px solid black;
    border-radius: 100%;
    margin-top: 100px;
    margin-left: 350px;
    top: 50px;
    position: absolute;
    background-color: black;
}

.circle3{
    height: 274px;
    width: 243px;
    border-bottom: 25px solid;
    border-radius: 128px;
    margin-top: 150px;
    margin-left: 171px;
    top: 38px;
    position: absolute;
}